<!DOCTYPE html>
<!-- crime -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />
    
    <title>{{ title }}</title>
    
    <!-- Included CSS Files (Uncompressed) -->
    <!--
    <link rel="stylesheet" href="stylesheets/foundation.css">
    -->
    
    <!-- Included CSS Files (Compressed) -->
    <link rel="stylesheet" href="/static/styles/foundation.min.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    
    <script src="/static/js/modernizr.foundation.js"></script>
    <!-- Included JS Files (Compressed) -->
    <script src="/static/js/jquery-1.8.2.min.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/d3.v3.min.js"></script>
    {# <script src="/static/js/d3.v2.min.js"></script> #}
    {# <script src="http://d3js.org/d3.v3.min.js"></script> #}
    
    <!-- Initialize JS Plugins -->
    <script src="/static/js/app.js"></script>
</head>
<body>
    {% block main %}
        Shit, looks like I forgot to put something here
    {% endblock %}
</body>
</html>